### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setupabs
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data = school_data.rename(columns={'school_name': 'School Name', 'type': 'Type', 'size': 'Size', 'budget': 'Budget'})
student_data = student_data.rename(columns={'student_name': 'Student Name', 'gender': 'Gender', 'grade': 'Grade', 'school_name': 'School Name',
       'reading_score': 'Reading Score', 'math_score': 'Math Score'})

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_data_complete_df = school_data_complete_df.rename(columns={'student_name': 'Student Name', 
                                                                  'gender': 'Gender', 
                                                                  'grade': 'Grade', 
                                                                  'school_name': "School Name",
                                                                  'reading_score': 'Reading Score', 
                                                                  'math_score': "Math Score", 
                                                                  'type': "Type", 
                                                                  'size': "Size", 
                                                                  'budget': "Budget"})
school_data_complete_df

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
# Find Total Number of Schools, Students, and the Total Budget
num_schools = len(school_data_complete_df["School Name"].unique())
num_students = school_data_complete_df["Student ID"].count()
total_budget = school_data_complete_df["Budget"].unique().sum()

# Find Average Scores for Reading and Math
average_math_score = school_data_complete_df["Math Score"].mean()
average_reading_score = school_data_complete_df["Reading Score"].mean()

# Find Percent of Students Passing Math
student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
per_student_pass_math = 100 * (student_pass_math.count() / num_students)

# Find Percent of Students Passing Reading 
students_pass_reading = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
per_student_pass_reading = 100 * (students_pass_reading.count() / num_students)

# Find Percent of Students Passing Reading and Math
students_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
per_students_math_reading_pass = 100 * ( len(students_pass_math_reading) / num_students)

# Come back and format dataframe

# Create DataFrame
dist_summary_df = pd.DataFrame({"Number of Schools" : [num_schools], 
                                "Number of Students": [num_students], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], 
                                "% Students Passing Math": [per_student_pass_math], 
                                "% Students Passing Reading": [per_student_pass_reading],
                                "% Students Passing Math & Reading": [per_students_math_reading_pass]})
dist_summary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
# Group Schools together
grouped_school_summary = school_data_complete_df.groupby(["School Name"])
school_type = school_data.set_index("School Name")["Type"]

# Calculate the Budget per School
budget_per_school = school_data.set_index("School Name")["Budget"]

# Calculate the Budget per Student
stu_per_school = school_data.set_index("School Name")["Size"]
per_stu_budget = (budget_per_school / stu_per_school)

# Calcualte the average math and reading scores for each school
school_avg_math = school_data_complete_df.groupby(["School Name"])["Math Score"].mean()
school_avg_read = school_data_complete_df.groupby(["School Name"])["Reading Score"].mean()

# Find Percent of Students Passing Math
sch_student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
grouped_students_pass_math = student_pass_math.groupby(["School Name"]).count()
per_sch_pass_math = 100 * (grouped_students_pass_math / stu_per_school)

# Find Percent of Students Passing Reading
sch_student_pass_read = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
grouped_student_pass_read = sch_student_pass_read.groupby(["School Name"]).count()
per_sch_pass_read = 100 * (grouped_student_pass_read / stu_per_school)

# Find Percent of Students Passing Reading and Math
sch_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
grouped_student_math_read = sch_pass_math_reading.groupby(["School Name"]).count()
per_sch_pass_read_math = 100 * (grouped_student_math_read / stu_per_school)

# Display results in New DataFrame
school_summary_df = pd.DataFrame({"School Type": school_type,
                                  "Total Students": stu_per_school, 
                                  "Total Budget": budget_per_school, 
                                  "Budget Per Student": per_stu_budget,
                                  "Avg Math Score": school_avg_math, 
                                  "Avg Reading Score": school_avg_read, 
                                  "% Students Passing Math": per_sch_pass_math, 
                                  "% Students Passing Reading": per_sch_pass_read, 
                                  "% Students Passing Reading & Math": per_sch_pass_read_math})
school_summary_df

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [15]:
school_summary_df.sort_values("% Students Passing Reading & Math", ascending=False).head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [16]:
school_summary_df.sort_values("% Students Passing Reading & Math").head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [37]:
# Find Average Score for Math by Grade
ninth_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="9th"].groupby(["School Name"])['Math Score'].mean()
tenth_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="10th"].groupby(["School Name"])['Math Score'].mean()
eleventh_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="11th"].groupby(["School Name"])['Math Score'].mean()
twelfth_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="12th"].groupby(["School Name"])['Math Score'].mean()

by_grade_math_scores_df = pd.DataFrame({"9th": ninth_grade, 
                                        "10th": tenth_grade, 
                                        "11th": eleventh_grade, 
                                        "12th": twelfth_grade})

by_grade_math_scores_df

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [38]:
# Find Average Score for Reading by Grade
ninth_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="9th"].groupby(["School Name"])['Reading Score'].mean()
tenth_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="10th"].groupby(["School Name"])['Reading Score'].mean()
eleventh_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="11th"].groupby(["School Name"])['Reading Score'].mean()
twelfth_grade = school_data_complete_df.loc[school_data_complete_df["Grade"] =="12th"].groupby(["School Name"])['Reading Score'].mean()

by_grade_reading_scores_df = pd.DataFrame({"9th": ninth_grade, 
                                        "10th": tenth_grade, 
                                        "11th": eleventh_grade, 
                                        "12th": twelfth_grade})

by_grade_reading_scores_df

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [32]:
bins = [0, 580, 600, 620, 640, 660]
spending_range = ["Less than $580", "$580-600", "$600-620", "$620-640", "$640-660"]
school_summary_df["Spend Per Student"] = pd.cut(per_stu_budget, bins, labels = spending_range)

grouped_budget_df = school_summary_df.groupby("Spend Per Student")

avg_math_score = grouped_budget_df["Avg Math Score"].mean()
avg_reading_score = grouped_budget_df["Avg Reading Score"].mean()
percent_passing_reading = grouped_budget_df["% Students Passing Reading"].mean()
percent_passing_math = grouped_budget_df["% Students Passing Math"].mean()
percent_passing_math_reading = grouped_budget_df["% Students Passing Reading & Math"].mean()

school_spending_df = pd.DataFrame({"Avg Math Score": avg_math_score, 
                                   "Avg Reading Score": avg_reading_score, 
                                   "Avg % Passing Reading": percent_passing_reading, 
                                   "Avg % Passing Math": percent_passing_math, 
                                   "% Overall Passing": percent_passing_math_reading})
school_spending_df

,Avg Math Score,Avg Reading Score,Avg % Passing Reading,Avg % Passing Math,% Overall Passing
Spend Per Student,,,,,
Less than $580,83.274201,83.989488,96.539641,93.867718,90.582567
$580-600,83.476713,83.867873,96.439624,93.459946,90.196844
$600-620,83.839917,84.044699,95.945946,94.594595,90.540541
$620-640,79.474551,82.120471,87.468080,77.139934,68.476495
$640-660,77.023555,80.957446,80.675217,66.701010,53.717613

## Scores by School Size

* Perform the same operations as above, based on school size.

In [35]:
bins = [0, 1000, 2000, 3000, 4000, 5000]
school_sizes = ['Less than 1000 Students', "1000-1999 Students", "2000-2999 Students", "3000-3999", "4000-4999 Students"]
school_summary_df["School Size"] = pd.cut(stu_per_school, bins, labels = school_sizes)

grouped_school_size = school_summary_df.groupby("School Size")

avg_math_score = grouped_school_size["Avg Math Score"].mean()
avg_reading_score = grouped_school_size["Avg Reading Score"].mean()
percent_passing_reading = grouped_school_size["% Students Passing Reading"].mean()
percent_passing_math = grouped_school_size["% Students Passing Math"].mean()
percent_passing_math_reading = grouped_school_size["% Students Passing Reading & Math"].mean()

school_size_df = pd.DataFrame({"Avg Math Score": avg_math_score, 
                                   "Avg Reading Score": avg_reading_score, 
                                   "Avg % Passing Reading": percent_passing_reading, 
                                   "Avg % Passing Math": percent_passing_math, 
                                   "% Overall Passing": percent_passing_math_reading})
school_size_df

,Avg Math Score,Avg Reading Score,Avg % Passing Reading,Avg % Passing Math,% Overall Passing
School Size,,,,,
Less than 1000 Students,83.821598,83.929843,96.099437,93.550225,89.883853
1000-1999 Students,83.374684,83.864438,96.790680,93.599695,90.621535
2000-2999 Students,78.429493,81.769122,84.473577,73.462428,62.897703
3000-3999,76.842711,80.744686,80.220055,66.366592,52.988247
4000-4999 Students,77.136883,80.978256,81.339570,66.496861,53.902988

## Scores by School Type

* Perform the same operations as above, based on school type

In [36]:
school_type_performance = school_type
school_type_performance
# grouped_school_size = school_summary_df.groupby("School Size")

# avg_math_score = school_type["Avg Math Score"].mean()
# avg_reading_score = school_type["Avg Reading Score"].mean()
# percent_passing_reading = school_type["% Students Passing Reading"].mean()
# percent_passing_math = school_type["% Students Passing Math"].mean()
# percent_passing_math_reading = school_type["% Students Passing Reading & Math"].mean()

School Name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: Type, dtype: object