### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setupabs
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [21]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [22]:
school_data_complete_df = school_data_complete_df.rename(columns={'student_name': 'Student Name', 
                                                                  'gender': 'Gender', 
                                                                  'grade': 'Grade', 
                                                                  'school_name': "School Name",
                                                                  'reading_score': 'Reading Score', 
                                                                  'math_score': "Math Score", 
                                                                  'type': "Type", 
                                                                  'size': "Size", 
                                                                  'budget': "Budget"})

In [24]:
# Find Total Number of Schools, Students, and the Total Budget
num_schools = len(school_data_complete_df["School Name"].unique())
num_students = school_data_complete_df["Student ID"].count()
total_budget = school_data_complete_df["Budget"].unique().sum()

# Find Average Scores for Reading and Math
average_math_score = school_data_complete_df["Math Score"].mean()
average_reading_score = school_data_complete_df["Reading Score"].mean()

# Find Percent of Students Passing Math
student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
per_student_pass_math = 100 * (student_pass_math.count() / num_students)

# Find Percent of Students Passing Reading 
students_pass_reading = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
per_student_pass_reading = 100 * (students_pass_reading.count() / num_students)

# Find Percent of Students Passing Reading and Math
students_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
per_students_math_reading_pass = 100 * ( len(students_pass_math_reading) / num_students)

# Come back and format dataframe

# Create DataFrame
dist_summary_df = pd.DataFrame({"Number of Schools" : [num_schools], 
                                "Number of Students": [num_students], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], 
                                "% Students Passing Math": [per_student_pass_math], 
                                "% Students Passing Reading": [per_student_pass_reading],
                                "% Students Passing Math & Reading": [per_students_math_reading_pass]})
dist_summary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [57]:
grouped_school_summary = school_data_complete_df.groupby(["School Name"])
grouped_school_summary.count()

,Student ID,Student Name,Gender,Grade,Reading Score,Math Score,School ID,Type,Size,Budget
School Name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [58]:
stu_per_school = grouped_school_summary["Student ID"].count()
school_summary_df = pd.DataFrame({"Total Students": stu_per_school})
school_summary_df

                       Total Students
School Name
Bailey High School               4976
Cabrera High School              1858
Figueroa High School             2949
Ford High School                 2739
Griffin High School              1468
Hernandez High School            4635
Holden High School                427
Huang High School                2917
Johnson High School              4761
Pena High School                  962
Rodriguez High School            3999
Shelton High School              1761
Thomas High School               1635
Wilson High School               2283
Wright High School               1800

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type