### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setupabs
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
school_data_complete_df = school_data_complete_df.rename(columns={'student_name': 'Student Name', 
                                                                  'gender': 'Gender', 
                                                                  'grade': 'Grade', 
                                                                  'school_name': "School Name",
                                                                  'reading_score': 'Reading Score', 
                                                                  'math_score': "Math Score", 
                                                                  'type': "Type", 
                                                                  'size': "Size", 
                                                                  'budget': "Budget"})

In [4]:
# Find Total Number of Schools, Students, and the Total Budget
num_schools = len(school_data_complete_df["School Name"].unique())
num_students = school_data_complete_df["Student ID"].count()
total_budget = school_data_complete_df["Budget"].unique().sum()

# Find Average Scores for Reading and Math
average_math_score = school_data_complete_df["Math Score"].mean()
average_reading_score = school_data_complete_df["Reading Score"].mean()

# Find Percent of Students Passing Math
student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
per_student_pass_math = 100 * (student_pass_math.count() / num_students)

# Find Percent of Students Passing Reading 
students_pass_reading = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
per_student_pass_reading = 100 * (students_pass_reading.count() / num_students)

# Find Percent of Students Passing Reading and Math
students_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
per_students_math_reading_pass = 100 * ( len(students_pass_math_reading) / num_students)

# Come back and format dataframe

# Create DataFrame
dist_summary_df = pd.DataFrame({"Number of Schools" : [num_schools], 
                                "Number of Students": [num_students], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], 
                                "% Students Passing Math": [per_student_pass_math], 
                                "% Students Passing Reading": [per_student_pass_reading],
                                "% Students Passing Math & Reading": [per_students_math_reading_pass]})
dist_summary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
grouped_school_summary = school_data_complete_df.groupby(["Type", "School Name"])
budget_per_school = school_data_complete_df["Budget"].unique()
stu_per_school = grouped_school_summary["Student ID"].count()

school_summary_df = pd.DataFrame({"Total Students": stu_per_school, 
                                  "Total Budget": budget_per_school,})

school_summary_df.head()

                             Total Students  Total Budget
Type    School Name
Charter Cabrera High School            1858       1910635
        Griffin High School            1468       1884411
        Holden High School              427       1056600
        Pena High School                962       3022020
        Shelton High School            1761        917500

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type