In [1]:
# Dependencies and Setupabs
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data = school_data.rename(columns={'school_name': 'School Name', 'type': 'Type', 'size': 'Size', 'budget': 'Budget'})
student_data = student_data.rename(columns={'student_name': 'Student Name', 'gender': 'Gender', 'grade': 'Grade', 'school_name': 'School Name',
       'reading_score': 'Reading Score', 'math_score': 'Math Score'})

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_data_complete_df = school_data_complete_df.rename(columns={'student_name': 'Student Name', 
                                                                  'gender': 'Gender', 
                                                                  'grade': 'Grade', 
                                                                  'school_name': "School Name",
                                                                  'reading_score': 'Reading Score', 
                                                                  'math_score': "Math Score", 
                                                                  'type': "Type", 
                                                                  'size': "Size", 
                                                                  'budget': "Budget"})
school_data_complete_df

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
# Find Total Number of Schools, Students, and the Total Budget
num_schools = len(school_data_complete_df["School Name"].unique())
num_students = school_data_complete_df["Student ID"].count()
total_budget = school_data_complete_df["Budget"].unique().sum()

# Find Average Scores for Reading and Math
average_math_score = round(school_data_complete_df["Math Score"].mean(), 2)
average_reading_score = round(school_data_complete_df["Reading Score"].mean(), 2)

# Find Percent of Students Passing Math
student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
per_student_pass_math = round(100 * (student_pass_math.count() / num_students), 2)

# Find Percent of Students Passing Reading 
students_pass_reading = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
per_student_pass_reading = round(100 * (students_pass_reading.count() / num_students), 2)

# Find Percent of Students Passing Reading and Math
students_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
per_students_math_reading_pass = round(100 * ( len(students_pass_math_reading) / num_students), 2)

# Create DataFrame
dist_summary_df = pd.DataFrame({"Number of Schools" : [num_schools], 
                                "Number of Students": [num_students], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], 
                                "% Students Passing Math": [per_student_pass_math], 
                                "% Students Passing Reading": [per_student_pass_reading],
                                "% Students Passing Math & Reading": [per_students_math_reading_pass]})

# Add Formats
dist_summary_df["Number of Students"] = dist_summary_df["Number of Students"].map("{:,}".format)
dist_summary_df["Total Budget"] = dist_summary_df["Total Budget"].map("${:,}".format)

# Show DataFrame
dist_summary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Math & Reading
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
# Group Schools together
grouped_school_summary = school_data_complete_df.groupby(["School Name"])
school_type = school_data.set_index("School Name")["Type"]

# Calculate the Budget per School
budget_per_school = school_data.set_index("School Name")["Budget"]

# Calculate the Budget per Student
stu_per_school = school_data.set_index("School Name")["Size"]
per_stu_budget = (budget_per_school / stu_per_school)

# Calcualte the average math and reading scores for each school
school_avg_math = school_data_complete_df.groupby(["School Name"])["Math Score"].mean()
school_avg_read = school_data_complete_df.groupby(["School Name"])["Reading Score"].mean()

# Find Percent of Students Passing Math
sch_student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
grouped_students_pass_math = student_pass_math.groupby(["School Name"]).count()
per_sch_pass_math = 100 * (grouped_students_pass_math / stu_per_school)

# Find Percent of Students Passing Reading
sch_student_pass_read = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
grouped_student_pass_read = sch_student_pass_read.groupby(["School Name"]).count()
per_sch_pass_read = 100 * (grouped_student_pass_read / stu_per_school)

# Find Percent of Students Passing Reading and Math
sch_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
grouped_student_math_read = sch_pass_math_reading.groupby(["School Name"]).count()
per_sch_pass_read_math = 100 * (grouped_student_math_read / stu_per_school)

# Display results in New DataFrame
school_summary_df = pd.DataFrame({"School Type": school_type,
                                  "Total Students": stu_per_school, 
                                  "Total Budget": budget_per_school, 
                                  "Budget Per Student": per_stu_budget,
                                  "Avg Math Score": school_avg_math, 
                                  "Avg Reading Score": school_avg_read, 
                                  "% Students Passing Math": per_sch_pass_math, 
                                  "% Students Passing Reading": per_sch_pass_read, 
                                  "% Students Passing Reading & Math": per_sch_pass_read_math})
school_summary_df

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [6]:
school_summary_df.sort_values("% Students Passing Reading & Math", ascending=False).head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
school_summary_df.sort_values("% Students Passing Reading & Math").head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
# Find Average Score for Math by Grade
ninth_grade = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="9th"].groupby(["School Name"])["Math Score"].mean(), 2)
tenth_grade = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="10th"].groupby(["School Name"])["Math Score"].mean(), 2)
eleventh_grade = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="11th"].groupby(["School Name"])["Math Score"].mean(), 2)
twelfth_grade = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="12th"].groupby(["School Name"])["Math Score"].mean(), 2)

by_grade_math_scores_df = pd.DataFrame({"9th": ninth_grade, 
                                        "10th": tenth_grade, 
                                        "11th": eleventh_grade, 
                                        "12th": twelfth_grade})

by_grade_math_scores_df

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [18]:
# Find Average Score for Reading by Grade
ninth_grade_avg = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="9th"].groupby(["School Name"])["Reading Score"].mean(), 2)
tenth_grade_avg = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="10th"].groupby(["School Name"])["Reading Score"].mean(), 2)
eleventh_grade_avg = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="11th"].groupby(["School Name"])["Reading Score"].mean(), 2)
twelfth_grade_avg = round(school_data_complete_df.loc[school_data_complete_df["Grade"] =="12th"].groupby(["School Name"])["Reading Score"].mean(), 2)

by_grade_reading_scores_df = pd.DataFrame({"9th": ninth_grade_avg, 
                                        "10th": tenth_grade_avg, 
                                        "11th": eleventh_grade_avg, 
                                        "12th": twelfth_grade_avg})

by_grade_reading_scores_df

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [10]:
bins = [0, 580, 600, 620, 640, 660]
spending_range = ["Less than $580", "$580-600", "$600-620", "$620-640", "$640-660"]
school_summary_df["Spend Per Student"] = pd.cut(per_stu_budget, bins, labels = spending_range)

grouped_budget_df = school_summary_df.groupby("Spend Per Student")

avg_math_score = grouped_budget_df["Avg Math Score"].mean()
avg_reading_score = grouped_budget_df["Avg Reading Score"].mean()
percent_passing_reading = grouped_budget_df["% Students Passing Reading"].mean()
percent_passing_math = grouped_budget_df["% Students Passing Math"].mean()
percent_passing_math_reading = grouped_budget_df["% Students Passing Reading & Math"].mean()

school_spending_df = pd.DataFrame({"Avg Math Score": avg_math_score, 
                                   "Avg Reading Score": avg_reading_score, 
                                   "Avg % Passing Reading": percent_passing_reading, 
                                   "Avg % Passing Math": percent_passing_math, 
                                   "% Overall Passing": percent_passing_math_reading})
school_spending_df

,Avg Math Score,Avg Reading Score,Avg % Passing Reading,Avg % Passing Math,% Overall Passing
Spend Per Student,,,,,
Less than $580,83.274201,83.989488,96.539641,93.867718,90.582567
$580-600,83.476713,83.867873,96.439624,93.459946,90.196844
$600-620,83.839917,84.044699,95.945946,94.594595,90.540541
$620-640,79.474551,82.120471,87.468080,77.139934,68.476495
$640-660,77.023555,80.957446,80.675217,66.701010,53.717613

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
bins = [0, 1000, 2000, 5000]
school_sizes = ['Small (<1000)', "Medium (1,000 - 2,000)", "Large (2,000 - 5,000)"]
school_summary_df["School Size"] = pd.cut(stu_per_school, bins, labels = school_sizes)

# grouped_school_size = school_summary_df.groupby("School Size")

avg_math_score = round(school_summary_df.groupby("School Size")["Avg Math Score"].mean(), 2)
avg_reading_score = round(school_summary_df.groupby("School Size")["Avg Reading Score"].mean(), 2)
percent_passing_reading = round(school_summary_df.groupby("School Size")["% Students Passing Reading"].mean(), 2)
percent_passing_math = round(school_summary_df.groupby("School Size")["% Students Passing Math"].mean(), 2)
percent_passing_math_reading = round(school_summary_df.groupby("School Size")["% Students Passing Reading & Math"].mean(), 2)

school_size_df = pd.DataFrame({"Avg Math Score": avg_math_score, 
                                   "Avg Reading Score": avg_reading_score, 
                                   "Avg % Passing Reading": percent_passing_reading, 
                                   "Avg % Passing Math": percent_passing_math, 
                                   "% Overall Passing": percent_passing_math_reading})
school_size_df

,Avg Math Score,Avg Reading Score,Avg % Passing Reading,Avg % Passing Math,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,96.10,93.55,89.88
"Medium (1,000 - 2,000)",83.37,83.86,96.79,93.60,90.62
"Large (2,000 - 5,000)",77.75,81.34,82.77,69.96,58.29

## Scores by School Type

* Perform the same operations as above, based on school type

In [13]:
# Find the Total Number of Students by Type of School
number_type_students = school_data_complete_df.groupby("Type")["Student ID"].count()

# Find Avg Math and Reading Scores
school_type_avg_math = round(school_data_complete_df.groupby(["Type"])["Math Score"].mean(), 2)
school_type_avg_reading = round(school_data_complete_df.groupby(["Type"])["Reading Score"].mean(), 2)

# Find the percent passing math
perc_type_passing_math = round((school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70]["Type"].value_counts() / number_type_students) * 100, 2)

# Find the percent passing reading
perc_type_passing_reading = round((school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70]["Type"].value_counts() / number_type_students) * 100, 2)

# Find the percent passing math and reading
perc_type_passing_reading_math = round((school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70) ]["Type"].value_counts() / number_type_students) * 100, 2)

# Find average spend per student
school_type_budget = round((school_data.groupby("Type")["Budget"].sum() / number_type_students), 2)

school_type_performance_df = pd.DataFrame({"Avg Math Score": school_type_avg_math, 
                                           "Avg Reading Score": school_type_avg_reading, 
                                           "% Passing Math": perc_type_passing_math, 
                                           "% Passing Reading": perc_type_passing_reading, 
                                           "% Passing Overall": perc_type_passing_reading_math, 
                                           "Avg Spend Per Student": school_type_budget})
# Format Avg Spend per Student
school_type_performance_df["Avg Spend Per Student"] = school_type_performance_df["Avg Spend Per Student"].map("${:,}".format)

school_type_performance_df

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Avg Spend Per Student
Type,,,,,,
Charter,83.41,83.90,93.70,96.65,90.56,$598.78
District,76.99,80.96,66.52,80.91,53.70,$643.09