### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [108]:
# Dependencies and Setupabs
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [109]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [110]:
school_data_complete_df = school_data_complete_df.rename(columns={'student_name': 'Student Name', 
                                                                  'gender': 'Gender', 
                                                                  'grade': 'Grade', 
                                                                  'school_name': "School Name",
                                                                  'reading_score': 'Reading Score', 
                                                                  'math_score': "Math Score", 
                                                                  'type': "Type", 
                                                                  'size': "Size", 
                                                                  'budget': "Budget"})

In [111]:
# Find Total Number of Schools, Students, and the Total Budget
num_schools = len(school_data_complete_df["School Name"].unique())
num_students = school_data_complete_df["Student ID"].count()
total_budget = school_data_complete_df["Budget"].unique().sum()

# Find Average Scores for Reading and Math
average_math_score = school_data_complete_df["Math Score"].mean()
average_reading_score = school_data_complete_df["Reading Score"].mean()

# Find Percent of Students Passing Math
student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
per_student_pass_math = 100 * (student_pass_math.count() / num_students)

# Find Percent of Students Passing Reading 
students_pass_reading = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
per_student_pass_reading = 100 * (students_pass_reading.count() / num_students)

# Find Percent of Students Passing Reading and Math
students_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
per_students_math_reading_pass = 100 * ( len(students_pass_math_reading) / num_students)

# Come back and format dataframe

# Create DataFrame
dist_summary_df = pd.DataFrame({"Number of Schools" : [num_schools], 
                                "Number of Students": [num_students], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], 
                                "% Students Passing Math": [per_student_pass_math], 
                                "% Students Passing Reading": [per_student_pass_reading],
                                "% Students Passing Math & Reading": [per_students_math_reading_pass]})
dist_summary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [162]:
# Group Schools together
grouped_school_summary = school_data_complete_df.groupby(["School Name"])

# Find and display the school Type
school_type = school_data_complete_df.groupby(["School Name"])["Type"].unique()

# Calculate the Budget per School
budget_per_school = school_data_complete_df["Budget"].unique()

# Calculate the Budget per Student and round it
stu_per_school = grouped_school_summary["Student ID"].count()
per_stu_budget = round((budget_per_school / stu_per_school), 2)

# Calcualte the average math and reading scores for each school
school_avg_math = school_data_complete_df.groupby(["School Name"])["Math Score"].mean()
school_avg_read = school_data_complete_df.groupby(["School Name"])["Reading Score"].mean()

# Find Percent of Students Passing Math
sch_student_pass_math = school_data_complete_df.loc[school_data_complete_df["Math Score"] >= 70].value_counts()
grouped_students_pass_math = student_pass_math.groupby(["School Name"]).count()
per_sch_pass_math = 100 * (grouped_students_pass_math / stu_per_school)

# Find Percent of Students Passing Reading
sch_student_pass_read = school_data_complete_df.loc[school_data_complete_df["Reading Score"] >= 70].value_counts()
grouped_student_pass_read = sch_student_pass_read.groupby(["School Name"]).count()
per_sch_pass_read = 100 * (grouped_student_pass_read / stu_per_school)

# Find Percent of Students Passing Reading and Math
sch_pass_math_reading = school_data_complete_df.loc[(school_data_complete_df["Math Score"] >= 70) & (school_data_complete_df["Reading Score"] >= 70)].value_counts()
grouped_student_math_read = sch_pass_math_reading.groupby(["School Name"]).count()
per_sch_pass_read = 100 * (grouped_student_math_read / stu_per_school)

# Display results in New DataFrame
school_summary_df = pd.DataFrame({"School Type": school_type,
                                  "Total Students": stu_per_school, 
                                  "Total Budget": budget_per_school, 
                                  "Budget Per Student": per_stu_budget,
                                  "Avg Math Score": school_avg_math, 
                                  "Avg Reading Score": school_avg_read, 
                                  "% Students Passing Math": per_sch_pass_math, 
                                  "% Students Passing Reading": per_sch_pass_read, 
                                  "% Students Passing Reading & Math": per_sch_pass_read})
school_summary_df.head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
School Name,,,,,,,,,
Bailey High School,[District],4976,1910635,383.97,77.048432,81.033963,66.680064,54.642283,54.642283
Cabrera High School,[Charter],1858,1884411,1014.21,83.061895,83.975780,94.133477,91.334769,91.334769
Figueroa High School,[District],2949,1056600,358.29,76.711767,81.158020,65.988471,53.204476,53.204476
Ford High School,[District],2739,3022020,1103.33,77.102592,80.746258,68.309602,54.289887,54.289887
Griffin High School,[Charter],1468,917500,625.00,83.351499,83.816757,93.392371,90.599455,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [167]:
school_summary_df.sort_values("% Students Passing Reading & Math", ascending=False).head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
School Name,,,,,,,,,
Cabrera High School,[Charter],1858,1884411,1014.21,83.061895,83.975780,94.133477,91.334769,91.334769
Thomas High School,[Charter],1635,3094650,1892.75,83.418349,83.848930,93.272171,90.948012,90.948012
Griffin High School,[Charter],1468,917500,625.00,83.351499,83.816757,93.392371,90.599455,90.599455
Wilson High School,[Charter],2283,1763916,772.63,83.274201,83.989488,93.867718,90.582567,90.582567
Pena High School,[Charter],962,585858,609.00,83.839917,84.044699,94.594595,90.540541,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [168]:
school_summary_df.sort_values("% Students Passing Reading & Math").head()

,School Type,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading & Math
School Name,,,,,,,,,
Rodriguez High School,[District],3999,1049400,262.42,76.842711,80.744686,66.366592,52.988247,52.988247
Figueroa High School,[District],2949,1056600,358.29,76.711767,81.158020,65.988471,53.204476,53.204476
Huang High School,[District],2917,3124928,1071.28,76.629414,81.182722,65.683922,53.513884,53.513884
Hernandez High School,[District],4635,1319574,284.70,77.289752,80.934412,66.752967,53.527508,53.527508
Johnson High School,[District],4761,248087,52.11,77.072464,80.966394,66.057551,53.539172,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type